.contenido {
	padding-left: 215px;
  padding-right: 10px;
}
#logo {
	width: 40%;
}

@media (max-width: 768px) {
	.contenido {
	  padding-left: 10px;
	}
}
.navbar {
  height: 70px;
}
#sidebar-wrapper {
  top: 70px;
}
.navbar-default {
  background-color: #e6e6e6;
}
.container-fluid {
  padding-right: 0;
  padding-left: 0;
}
#sidebar-wrapper {
  background-color: #e6e6e6;
}
.sidebar-nav li a {
  color: #333;
  padding: 0px 30px;
}
.sidebar-nav li a:hover {
  color: #2962aa;
}
.sidebar-nav {
	width: 200px;
}
span strong {
  color: red;
}
.user_name {
  float: right;
  margin: 20px 40px;
  display: none;
}

.escuelas_menu {
  display: none !important;
}

.user_name_menu {
  display: block !important;
}

@media (min-width: 768px) {
  #sidebar-wrapper.sidebar-toggle {
    transition: 0s;
    left: 200px;
  }
  .user_name, .escuelas_menu {
    display: block !important;
  }
  .user_name_menu {
    display: none !important;
  }
}