body {
  background-color: #f0f0f0;
}
.contenido {
	padding-left: 215px;
  padding-right: 10px;
  padding: 80px 10px 10px 215px; 
}
#logo {
	width: 40%;
  padding: 0;
}

@media (max-width: 768px) {
	.contenido {
	  padding-left: 10px;
	}
}
.navbar {
  height: 71px;
  position: fixed;
  width: 100%;
  z-index: 10;
}
#sidebar-wrapper {
  top: 70px;
}
.navbar-default {
  background-color: #222d32;
  color: #fff;
}
.container-fluid {
  padding-right: 0;
  padding-left: 0;
}
#sidebar-wrapper {
  background-color: #222d32;
}
.sidebar-nav li a {
  color: #fff;
  padding: 0px;
}
.sidebar-nav li a:hover {
  color: #fff;
}
.sidebar-nav {
	width: 200px;
}
span strong {
  color: red;
}
.user_name {
  float: right;
  margin: 20px 40px;
  display: none;
}

.escuelas_menu {
  display: none !important;
}

.user_name_menu {
  display: block !important;
}

@media (min-width: 768px) {
  #sidebar-wrapper.sidebar-toggle {
    transition: 0s;
    left: 200px;
  }
  .user_name, .escuelas_menu {
    display: block !important;
  }
  .user_name_menu {
    display: none !important;
  }
}

li {
  list-style: none
}
.auth{
  margin-top: 25%;
}

ul.sidebar-nav ul
{
   display:none;
   padding: 0;

}

ul.sidebar-nav li:hover > ul
{
   display:block;
}

.sidebar-nav li ul li a {
  margin-left: 30px;
}

.nav_e {
  border: none;
  border-radius: 0;
}